ROMM_URL=http://romm:8080
ROMM_API_KEY=

PCSX2_CONTAINER=pcsx2
RPCS3_CONTAINER=rpcs3
DOLPHIN_CONTAINER=dolphin

PCSX2_WEB_URL=http://192.168.1.200:3000
RPCS3_WEB_URL=http://192.168.1.200:3001
DOLPHIN_WEB_URL=http://192.168.1.200:3002
