ROMM_URL=http://romm:8080
ROMM_API_KEY=
DOCKER_NETWORK=romm
PCSX2_CONTAINER=pcsx2
RPCS3_CONTAINER=rpcs3
DOLPHIN_CONTAINER=dolphin
PCSX2_WEB_URL=http://pcsx2:3000
RPCS3_WEB_URL=http://rpcs3:3000
DOLPHIN_WEB_URL=http://dolphin:3000
